.badge {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 15px 40px;
    border-radius: 40px;
    border: 1px solid transparent;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;

    &--success {
        background-color: #e4f5e9;
        border-color: #00a63e;
        color: #00a63e;
    }

    &--warning {
        background-color: #faf5ee;
        border-color: #f0b100;
        color: #f0b100;
    }

    &--info {
        background-color: #ede9ff;
        border-color: #7d00fc;
        color: #7d00fc;
    }

    &__icon {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    &__label {
        white-space: nowrap;
    }
}
