.small-badge {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: 'Manrope', sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;

  &--outline-red {
    background-color: transparent;
    border-color: #fb2c36;
    color: #fb2c36;
  }

  &--warning {
    background-color: #f0b100;
    border-color: #f0b100;
    color: #101828;
  }

  &--grey {
    background-color: #f1f5f9;
    border-color: #f1f5f9;
    color: #797979;
  }

  &--success {
    background-color: #00a63e;
    border-color: #00a63e;
    color: #ffffff;
  }

  &--danger {
    background-color: #fb2c36;
    border-color: #fb2c36;
    color: #ffffff;
  }

  &--badge-info-light {
    background-color: #f0e2ff;
    border-color: #f0e2ff;
    color: #4501e8;
  }

  &__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 4px;
    width: 14px;
    height: 14px;
  }

  &__label {
    white-space: nowrap;
  }
}
